@if(currentUser !== thread.userId){
        <!-- ========================= Template Other Messages ========================= -->
        <div class="messageContainer">
            <div class="messageProfileIcon">
                <img src="/assets/img/main-chat/member1.svg">
            </div>
            <div class="mainMessage">
                <div>
                    <div>{{thread?.createdBy}}</div>
                    <div>{{thread?.time}} Uhr</div>
                </div>
                <div>
                    {{thread?.message}}
                </div>
                <div class="mainMessageThreads" *ngIf="messageCount > 0">
                    <div (click)="openThread(thread.threadId)">{{messageCount}} {{answers}}</div>
                    <div>Letzte Antwort {{lastAnswer}}</div>
                </div>
                <app-reactions [userId]="thread.userId" [threadId]="thread.threadId" [reactionCollectionPath]="reactionCollectionPath" [currentUser]="currentUser">
                </app-reactions>
            </div>
    
            <!-- ========== Toolbar ========== -->
            <div class="toolBar">
                <div (click)="addReaction('approve')">
                    <img src="/assets/img/main-chat/check_mark.svg">
                </div>
                <div (click)="addReaction('raisingHands')">
                    <img src="/assets/img/main-chat/raising_hands.svg">
                </div>
                <div (click)="openMoreEmojis()">
                    <span class="material-symbols-outlined">add_reaction</span>
                </div>
                <div (click)="openThread(thread.threadId)">
                    <span class="material-symbols-outlined">comment</span>
                </div>
            </div>
            <app-reaction-emoji-input class="reactionOtherMessages" *ngIf="showMoreEmojis" [showMoreEmojis]="showMoreEmojis" (showMoreEmojisChild)="closeMoreEmojis(showMoreEmojis)"
            [reactionCollectionPath]="reactionCollectionPath" [currentUser]="currentUser"></app-reaction-emoji-input>
        </div>
        <!-- ============================================================================ -->
    } @else {
        <!-- ========================= Template Own Message ========================= -->
        <div class="messageContainerOwn" *ngIf="!ownMessageEdit">
            <div class="mainMessageOwn">
                <div>
                    <div>{{thread?.createdBy}}</div>
                    <div>{{thread?.time}} Uhr</div>
                </div>
                <div>
                    {{thread?.message}}
                </div>
                <div class="mainMessageThreadsOwn" *ngIf="messageCount > 0">
                    <div>Letzte Antwort {{lastAnswer}}</div>
                    <div (click)="openThread(thread.threadId)">{{messageCount}} {{answers}}</div>
                </div>
                <app-reactions [userId]="thread.userId" [threadId]="thread.threadId" [reactionCollectionPath]="reactionCollectionPath" [currentUser]="currentUser">
                </app-reactions>
            </div>
            <div class="messageProfileIcon">
                <img src="/assets/img/main-chat/member1.svg">
            </div>
    
            <!-- ========== Toolbar own ========== -->
            <div class="toolBarOwn">
                <div (click)="addReaction('approve')">
                    <img src="/assets/img/main-chat/check_mark.svg">
                </div>
                <div (click)="addReaction('raisingHands')">
                    <img src="/assets/img/main-chat/raising_hands.svg">
                </div>
                <div (click)="openMoreEmojis()">
                    <span class="material-symbols-outlined">add_reaction</span>
                </div>
                <div (click)="openThread(thread.threadId)">
                    <span class="material-symbols-outlined">comment</span>
                </div>
                <div (click)="moreOptions()">
                    <span class="material-symbols-outlined">more_vert</span>
                </div>
            </div>
            <app-reaction-emoji-input class="reactionOtherMessages" *ngIf="showMoreEmojis" [showMoreEmojis]="showMoreEmojis" (showMoreEmojisChild)="closeMoreEmojis(showMoreEmojis)"
            [reactionCollectionPath]="reactionCollectionPath" [currentUser]="currentUser"></app-reaction-emoji-input>


            <div *ngIf="editMessagePopupOpen" class="editMessagePopupBackground" (click)="closeEditMessagePopUp()"></div>
            <div *ngIf="editMessagePopupOpen" class="editMessagePopup" (click)="doNotClose($event)">
                <div (click)="editMessage()">
                    <div>Nachricht bearbeiten</div>
                </div>
            </div>
        </div>

        <!-- ========================= Template Own Message - EDIT ========================= -->
        <app-edit-own-thread *ngIf="ownMessageEdit" [threadId]="thread.threadId" 
        [activeChannelId]="activeChannelId" [threadMessage]="thread.message"
        (ownMessageEditChild)="closeEditedMessage(ownMessageEdit)"></app-edit-own-thread>            
    }
