@import "../../../../styles.scss";

.messageContainer, .messageContainerOwn {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem 45px 1rem 45px;

    &:hover {
        background-color: $bgColor;
    }
}

.messageContainerOwn{
    justify-content: flex-end;
}


.messageContainer:hover > .mainMessage > div:nth-of-type(2),
.messageContainerOwn:hover > .mainMessage > div:nth-of-type(2) {
    background-color: white;
}

.messageContainer:hover > .mainMessage > div:nth-of-type(3) > div:last-of-type,
.messageContainerOwn:hover > .mainMessage > div:nth-of-type(3) > div:last-of-type {
    color: black;
}

.messageProfileIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    > img {
        height: 70px;
        width: 70px;
    }
}

.mainMessage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    > div:first-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        > div:first-of-type{
            font-weight: bold;
            font-size: 18px;
        }

        > div:last-of-type{
            font-size: 14px;
            color: $textGray;
        }
    }

    > div:nth-of-type(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 30px 30px 30px;
        padding: 15px;
        background-color: $bgColor;
        font-size: 18px;
    }
}

.mainMessageOwn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    > div:first-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        > div:first-of-type{
            font-weight: bold;
            font-size: 18px;
        }
        
        > div:last-of-type{
            font-size: 14px;
            color: $textGray;

        }
    }

    > div:nth-of-type(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 30px 30px 30px;
        padding: 15px;
        background-color: $purple2;
        font-size: 18px;
        color: white;
    }
}


.mainMessageThreads {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    > div:first-of-type {
        font-size: 18px;
        color: $purple3;
        cursor: pointer;
    }

    > div:last-of-type {
        font-size: 14px;
        color: $textGray;    
    }
}

.mainMessageThreadsOwn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    > div:first-of-type {
        font-size: 14px;
        color: $textGray;    
    }

    > div:last-of-type {
        font-size: 18px;
        color: $purple3;
        cursor: pointer;
    }
}

.mainThreadReactions,
.mainThreadReactionsOwn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    > div:first-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        &:hover {
            cursor: pointer;
            color: $purple2;
        }

    }

    > div:last-of-type {
        position: relative;
        display: flex;
        gap: 10px;
        border-radius: 20px;
        border: 1px solid $lightPurple;
        padding: 5px 10px 5px 10px;
        background-color: white;
        &:hover {
            cursor: pointer;
            border-color: $purple2;
        }

        &:hover .reactionHoverBubble {
            display: block;
        }

        .ractionEmoji {
            display: flex;
            justify-content: center;
            align-items: center;
/*             width: 24px;
 */            height: 24px;
        }

        .ractionCount {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            > div {
                font-weight: 16px;

            }
        }

        .reactionHoverBubble {
            position: absolute;
            top: -113px;
            left: 30px;
            display: none;
            width: 158px;
            height: 112px;
            border-radius: 30px 30px 30px 0px;
            padding: 15px 10px 15px 10px;
            background-color: $purple1;
            > div {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            > div:first-of-type {

            }
            
            > div:nth-of-type(2) {
                color: white;
                font-weight: 700;
                font-size: 18px;
            }
            > div:last-of-type {
                color: white;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

.mainMessageOwn {
    width: 100%;
    align-items: flex-end;

    > div:first-of-type,
    > div:last-of-type {
        flex-direction: row-reverse;
    }

    > div:nth-of-type(2) {
        border-radius: 30px 0 30px 30px;
    }
}

.toolBar, .toolBarOwn {
    position: absolute;
    right: 45px;
    top: -25px;
    height: 46px;
    border-radius: 25px 25px 0px 25px;
    border: 1px solid $lightPurple;
    padding: 3px 15px 3px 20px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 5px;

    > div {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;    
        cursor: pointer;
        &:hover {
            background-color: $bgColor;
        }
    }
}

.toolBarOwn{
    right: unset;
    left: 45px;
}

.messageContainer:hover > .toolBar,
.messageContainerOwn:hover > .toolBarOwn {
    display: flex;
}

.reactionOtherMessages {
    position: absolute;
    right: 45px;
    top: 20px;
    height: 46px;
    z-index: 10;
}

.editMessagePopupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.editMessagePopup {
    position: absolute;
    top: 10px;
    left: 270px;
    height: 67px;
    border-radius: 0px 30px 30px 30px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;    
        padding: 10px 20px 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        &:hover {
            background-color: $bgColor;
        }

        &:hover > div {
            font-weight: bold;
            color: $purple3;
        }
    
        > div {
            font-weight: 500;
            font-size: 20px;
        }
    }
}

.messageContainerOwnEdit {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding: 1rem 45px 1rem 145px;
    background-color: $bgColor;
}

.mainMessageOwnEdit {
    width: 100%;
    background-color: white;
    border: 1px solid $lightPurple;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    > textarea {
        height: 150px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 18px;
        overflow: hidden;
        resize: none;
    }

    > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div:first-of-type {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                background-color: $bgColor;
            }
            &:hover span {
                color: $purple2;
                font-weight: bold;
            }
        }

        > div:last-of-type {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            > button {
                padding: 12px 25px 12px 25px;
                border-radius: 50px;
                border: 1px solid $purple2;
                background-color: white;
                color: $purple2;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    background-color: $bgColor;
                }
            }
            
            >button:last-of-type {
                background-color: $purple2;
                color: white;
                &:hover {
                    background-color: $bgColor;
                    color: $purple2;
                }
            }
        }
    }
}
