<div class="sign-up-main">

    <div class="logo-container">
        <img src="./assets/img/Logo.png">
        <p>DA Bubble</p>
    </div>

    <div *ngIf="first" class="password-reset-form-container">
        <h1>Passwort zurücksetzen</h1>
        <button class="go-back-to-login-btn" (click)="goBackToLogin()"></button>
        <p class="password-reset-hint">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
        <form class="password-reset-form" [formGroup]="emailForPasswordResetForm">
            <input required type="email" class="password-reset-email-input" name="email" id="email"
                placeholder="beispielname@email.com" formControlName="email">


            <p class="password-reset-description">Wir senden Ihnen eine E-Mail, über die
                Sie Ihr Passwort ändern können.</p>
        </form>
        <div class="password-reset-btns-container">
            <button [disabled]="!emailForPasswordResetForm.valid || sendEmailBtnDisabled" class="send-email-btn"
                [class.btn-disabled]="!emailForPasswordResetForm.valid || sendEmailBtnDisabled"
                (click)="sendEmail()">E-Mail senden</button>
        </div>


    </div>

    <div *ngIf="emailSent" class="email-sent-overlay">
        <div class="email-sent-main">
            <p>E-Mail gesendet</p>
        </div>

    </div>

    <div class="lower-links-container">
        <a href="">Impressum</a>
        <a href="">Datenschutz</a>
    </div>

</div>