@media screen and (max-width: 650px) {

    .sign-up-main{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .logo-container{
        position: unset;
    }

    .lower-links-container{
        position: unset;
    }

    .password-reset-form-container {
        width: 398px !important;
    }

    .password-reset-form {
        width: 398px;

        input {
            width: 358px;
        }
    }

    .password-reset-btns-container{
        width: 358px;
    }

    .error-message-container {
        width: 358px;
    }

    
}