<section *ngIf="!isLoading">
    <div class="closePicker" *ngIf="emojiWindowOpen" (click)="toggleEmojis()"></div>
    <div class="chat-box">
        <!-------------------------------------Chat Head-------------------------------------->
        <div class="thread-head">
            <div class="left-side-head">
                <h3>Thread</h3>
                <img src="/assets/img/tagPurple.svg" alt="Purple Hashtag">
                <p>Entwicklerteam</p>
            </div>
            <button (click)="closeThread()" class="close-button"></button>
        </div>
        <!-----------------------------------Chat Head------------------------------------>
        <!---------------------------------------Chat Content--------------------------------------->
        <div class="chat-content">
            <div *ngIf="firstThreadMessage" class="user-message"> <!-- Thread Message -->
                <img src="/assets/img/userImages/userImage4.svg" alt="">
                <div>
                    <div class="user-time">
                        <p>{{ getUserName(firstThreadMessage.createdBy) }}</p>
                        <span>{{ firstThreadMessage.creationDate | date:'HH:mm' }} Uhr</span>
                    </div>
                    <div class="thread-message">
                        <span>{{ firstThreadMessage.message }}</span>
                    </div>
                </div>
            </div>

            <div class="answer-line-container"> <!-- Marker for seperate thread quiry to answers -->
                <p>2 Antworten</p>
                <div class="purple-line"></div>
            </div>

            @for (message of threadMessages; track $index) {
            @if(currentUser !== threadMessages[$index].createdBy){
            <div class="user-message"> <!-- Template of awnsers -->
                <img src="/assets/img/userImages/userImage5.svg" alt="">
                <div>
                    <div class="user-time">
                        <p>{{ getUserName(message.createdBy) }}</p>
                        <span>{{ message.creationDate | date:'HH:mm' }} Uhr</span>
                    </div>
                    <div class="thread-message">
                        <span>{{ message.message }}</span>
                    </div>
                </div>
            </div>
            } @else {
            <div class="user-message own-message"> <!-- Template of own message -->
                <img src="/assets/img/userImages/userImage6.svg" alt="">
                <div>
                    <div class="user-time own-message">
                        <p>{{ getUserName(message.createdBy) }}</p>
                        <span>{{ message.creationDate | date:'HH:mm' }} Uhr</span>
                    </div>
                    <div class="thread-message own-bubble">
                        <span>{{ message.message }}</span>
                    </div>
                </div>
            </div>
            }}
        </div>
        <!--------------------------------------Chat Content-------------------------------------->
        <!--------------------------------------Input Contnent-------------------------------------->
        <div class="input-content" (click)="message.focus()">

            <textarea #message [(ngModel)]="messageModel" (input)="updateCursorPosition($event)"
                placeholder="Antworten..." name="second-chat-input" cols="30" rows="10">
          </textarea>

            <div class="action-icons-container">

                <div class="left-actions">
                    <button class="add-button"></button>
                    <img src="/assets/img/main-chat/separatingLine.svg">
                    <button (click)="toggleEmojis()" class="emoji-button"></button>

                    <emoji-mart #emojiPicker *ngIf="emojiWindowOpen" class="emoji-mart"
                        (emojiSelect)="onEmojiSelect($event)" title="Pick your emoji…" emoji="point_up">
                    </emoji-mart>

                    <button class="tag-button"></button>
                </div>
                <button class="send-button"></button>
            </div>
        </div>
        <!--------------------------------------Input Contnent-------------------------------------->
    </div>
</section>