@import '../../../../../styles.scss';

div:first-of-type {
  cursor: pointer;
  &:hover {
    color: $purple3;
  }
}

.mainThreadReactions,
.mainThreadReactionsOwn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-top: 10px;

    > div:first-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        &:hover {
            cursor: pointer;
            color: $purple2;
        }

    }

    > .reactionContainer {
        position: relative;
        display: flex;
        gap: 10px;
        border-radius: 20px;
        border: 1px solid $lightPurple;
        padding: 5px 10px 5px 10px;
        background-color: white;
        &:hover {
            cursor: pointer;
            border-color: $purple2;
        }

        &:hover .reactionHoverBubble {
            display: block;
        }

        .ractionEmoji {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ractionCount {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            > div {
                font-weight: 16px;

            }
        }

        .reactionHoverBubble {
            position: absolute;
            top: -105px;
            left: 30px;
            display: none;
            width: 158px;
            border-radius: 30px 30px 30px 0px;
            padding: 15px 10px 15px 10px;
            background-color: $purple1;
            z-index: 2;
            > div {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            > div:first-of-type {

            }
            
            > div:nth-of-type(2) {
                color: white;
                font-weight: 700;
                font-size: 18px;
            }
            > div:last-of-type {
                color: white;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

.mainThreadReactionsOwn {
    flex-direction: row-reverse;
}

.mainThreadReactions > app-reaction-emoji-input {
    position: absolute;
    top: 170px;
    left: 145px;
}

.mainThreadReactionsOwn > app-reaction-emoji-input {
    position: absolute;
    top: 170px;
    right: 145px;
}
