<div class="mainChatContainer">
    <div class="mainChatHeader">
        <div class="mainChatHeaderLeft">
            <div>#</div>
            <div>Entwicklerteam</div>
            <div>
                <img src="../../../assets/img/arrowDownDefault.svg">
            </div>
        </div>
        <div class="mainChatHeaderRight">
            <div>
                <div>
                    <img src="../../../assets/img/Members preview.svg">
                <!--<img src="">
                    <img src="">-->                
                </div>
                <div>3</div>
            </div>
            <div>
                <img src="../../../assets/img/addUserDefault.svg ">
            </div>
        </div>
    </div>

    <div class="mainChatMessages">
        <div class="mainChatMessagesSubContainer">
            <div class="timeSeparator">
                <div>Heute</div>
            </div>
    
            <!-- div=> Time Separator -->
            <!-- div=> Message Component -->
    
        </div>
    </div>

    <div class="mainChatInput">
        <div class="mainChatInputSubContainer">
            <textarea placeholder="Nachricht an #Entwicklerteam"></textarea>
           <div>
                <div>
                    <img src="../../../assets/img/addDefault.svg">
                    <img src="../../../assets/img/separatingLine.svg">
                    <img src="../../../assets/img/smileDefault.svg">
                    <img src="../../../assets/img/tagDefault.svg">
                </div>
                <div>
                    <img src="../../../assets/img/sendIconDefault.svg">
                </div>
            </div>
        </div>
    </div>
</div>
