/* ======================= GENERAL ===================== */
@import "../../../styles.scss";
@import "../../main/side-bar/side-bar.component.scss";

/* =========================== EMOJIS =============================== */
/* .emojiContainer {
    display: grid;
    grid-template-columns: 100% 0%;
    width: 36%;

    button {
        background: transparent;
        border: 0;
        transform: translateX(-40px);
        cursor: pointer;
        &:focus {
        outline: 0;
        }
    }
} */


* {
    box-sizing: border-box;
}

.mainChatContainer {
    height: 940px;
    width: 989px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
}

/* ======================= CHAT HEADER ===================== */
.mainChatHeader {
    position: relative;
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px 25px 45px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.08); 
}

.mainChatHeaderLeft {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 10px;
    padding: 10px;

    &:hover {
        background-color: $bgColor;
        color: $purple3;
        cursor: pointer;
    }

    > div,
    > div > mat-icon {
        font-size: 24px;
        font-weight: bold;
    }

    >div:last-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* ==== Add members Dialog ==== */
.addMembersDialog {
    position: absolute;
    right: 45px;
    top: 80px;
    height: 294px;
    width: 514px;
    border-radius: 30px 0 30px 30px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 10;

    > div {
        width: 100%;
    }

    > div:first-of-type {
        font-weight: bold;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div:last-of-type {
            height: 40px;
            width: 40px;    
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                background-color: $bgColor;
            }

            &:hover span {
                color: $purple3;
            }
    
            > span {
                font-size: 24px;
            }
        }
    }

    > div:nth-of-type(2) {
        font-size: 18px;
        color: rgba(121, 126, 243, 1);
    }


/*     > div:nth-of-type(3) > input, */    
    > div:nth-of-type(3) > mat-form-field {
        border: 1px solid rgba(173, 176, 217, 1);
        outline: none;
        border-radius: 30px;
        padding: 15px 20px 15px 20px;
        font-size: 18px;
        width: 100%;

        &:focus {
            border: 1px solid $purple3;
        }
    }

    > div:last-of-type {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > button {
            background-color: rgba(104, 104, 104, 1);
            padding: 12px 25px 12px 25px;
            border: none;
            border-radius: 25px;
            font-size: 18px;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }
    } 
}

.cdk-overlay-pane{
    border-radius: 0 30px 30px 30px!important;
}
/* ========================== */

.mainChatHeaderRight {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    >div:first-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 3px 10px 3px 10px;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
            background-color: $bgColor;
            color: $purple3;
        }

        > .memberPhotos {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 15px;

            > div {
                display: flex;
                justify-content: center;
                align-items: center;    
                margin-left: -15px;
                border: 3px solid white;
                border-radius: 50%;

                > img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        >div:last-of-type {
            font-size: 20px;
        }
    }

    > div:last-of-type {
        width: 40px;
        height: 40px;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;
        background-color: $bgColor;

        &:hover span {
            font-weight: bold;
            color: $purple3;
        }
    }
}

/* ==== Dialog Background ==== */
.dialogBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0, 0.4);
    z-index: 5;
}

/* ==== Show members Dialog ==== */
.showMembersDialog {
    position: absolute;
    right: 140px;
    top: 80px;
    height: 411px;
    width: 415px;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 10;

    > div:first-of-type {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div:first-of-type {
            font-weight: 700;
            font-size: 24px;
        }

        > div:last-of-type {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                background-color: $bgColor;
            }
            &:hover span {
                color: $purple3;
            }
    
            > span {
                font-size: 24px;
            }
        }
    }

    > div:last-of-type {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        padding: 12px 29px 12px 29px;
        border-radius: 30px;
        cursor: pointer;
        &:hover {
            background-color: $bgColor;
        }

        &:hover span {
            font-weight: bold;
            color: $purple3;
        }

        &:hover div:last-of-type {
            color: $purple3;
        }

        > div:first-of-type {
            width: 32px;
            height: 32px;
            padding: 4px;
            border-radius: 50%;
            background-color: $bgColor;
        }

        > div:last-of-type {
            font-size: 18px;
            font-weight: 400;
        }
    }
}

.usersListContainer {
    width: 100%;
    height: 200px;
    max-height: 200px;
    overflow: hidden;
}

.usersListSubContainer {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 12px 0 12px 0;
}

.userContainer{
    width: 100%;
    border-radius: 30px;
    padding: 4px 20px 4px 20px;
    cursor: pointer;
    &:hover {
        background-color: $bgColor;
    }
}

.userSubContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    > div:first-of-type {
        height: 50px;
        width: 50px;
    }

    > div:first-of-type {
        font-size: 18px;
        font-weight: 400;
    }
}


/* ======================= MAIN CHAT MESSAGES ===================== */
.mainChatMessages {
    width: 100%;
    height: calc(100% - 96px - 180px);
    padding: 25px 45px 25px 45px;
}

.mainChatMessagesSubContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.beginningOfChannel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 0px 1rem 0px;

    > div:first-of-type {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        > div{
            font-size: 24px;
            font-weight: bold;
    
        }
    }

    > div:first-of-type {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
    }
}

.timeSeparator {
    width: 100%;
    padding: 2rem 0 2rem 0;

    > div {
        height: 2px;
        background-color: rgba(173, 176, 217, 1);
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
            border: 1px solid rgba(173, 176, 217, 1);
            border-radius: 30px;
            padding: 5px 15px 5px 15px;
            background-color: white;
        }
    }
}

.messageContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem 0px 1rem 0px;

    &:hover {
        background-color: $bgColor;
        cursor: pointer;
    }
}

.messageContainer:hover > .mainMessage > div:nth-of-type(2) {
    background-color: white;
}

.messageContainer:hover > .mainMessage > div:nth-of-type(3) > div:last-of-type {
    color: black;
}

.messageContainerOwn {
    flex-direction: row-reverse;
}

.messageProfileIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    > img {
        height: 70px;
        width: 70px;
    }
}

.mainMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > div:first-of-type {
        gap: 20px;

        > div:first-of-type{
            font-weight: bold;
            font-size: 18px;
        }

        > div:last-of-type{
            font-size: 14px;
            color: rgba(104, 104, 104, 1);
        }
    }

    > div:nth-of-type(2) {
        border-radius: 0px 30px 30px 30px;
        padding: 15px;
        background-color: rgba(236, 238, 254, 1);
        font-size: 18px;
    }
}


.mainMessageThreads {
    gap: 20px;

    > div:first-of-type {
        font-size: 18px;
        color: rgba(83, 90, 241, 1);
    }

    > div:last-of-type {
        font-size: 14px;
        color: rgba(104, 104, 104, 1);    
    }
}

.mainMessageReactions {

}

.mainMessageOwn {
    align-items: flex-end;

    > div:first-of-type,
    > div:last-of-type {
        flex-direction: row-reverse;
    }

    > div:nth-of-type(2) {
        border-radius: 30px 0 30px 30px;
    }
}

/* ======================= TEXT INPUT ===================== */
.mainChatInput {
    width: 100%;
    min-height: 180px;
    padding: 25px 45px 25px 45px;
}

.mainChatInputSubContainer {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    > textarea {
        width: 100%;
        min-height: 100px;
        border: none;
        outline: none;
        font-size: 18px;
        overflow: hidden;
        resize: none;
    }

    > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div:first-of-type {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            > button {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 26px;
                aspect-ratio: 1/1;
                border-style: none;
                background-color: unset;
                cursor: pointer;
            }

            img:hover,
            div:hover {
                cursor: pointer;
            }

            > button:first-of-type {
                background-image: url('/assets/img/main-chat/addDefault.svg');

                &:hover {
                background-image: url('/assets/img/main-chat/addHover.svg');
                }
            }

            > button:nth-of-type(2) {
                background-image: url('/assets/img/main-chat/smileDefault.svg');

                &:hover {
                background-image: url('/assets/img/main-chat/smileHover.svg');
                }
            }

            > button:last-of-type {
                background-image: url('/assets/img/main-chat/tagDefault.svg');

                &:hover {
                background-image: url('/assets/img/main-chat/tagHover.svg');
                }
            }


            > img:nth-of-type(2):hover {
                cursor: unset;
            }
        }

        > div:last-of-type {
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
