<div class="mainChatContainer">
    <div class="mainChatHeader">
        <div class="mainChatHeaderLeft">
            <div>#</div>
            <div>{{channels[0].name}}</div>
            <div>
                <img src="../../../assets/img/main-chat/arrowDownDefault.svg">
            </div>
        </div>
        <div class="mainChatHeaderRight">
            <div>
                <div>
                    @for (member of channels[0].members; track $index) {
                        <img src="{{channels[0].members[$index].photo}}">
                    }
                </div>
                <div>{{membercount}}</div>
            </div>
            <div>
                <img src="../../../assets/img/main-chat/addUserDefault.svg ">
            </div>
        </div>

        <!--== Add members Dialog ==-->
        <div class="addMembersDialog">
            <div>
                <div>Leute hinzufügen</div>
                <div>
                    <img src="../../../assets/img/main-chat/close.svg">
                </div>
            </div>
            <div>#  {{channels[0].name}}</div>
            <div>
                <input type="text" placeholder="Name eingeben">
            </div>
            <div>
                <button>Hinzufügen</button>
            </div>
        </div>
        <!--=======================-->
    </div>

    <div class="mainChatMessages">
        <div class="mainChatMessagesSubContainer">
            <div class="timeSeparator">
                <div>Heute</div>
            </div>
    
            <!-- div=> Time Separator -->
            <!-- div=> Message Component -->
    
        </div>
    </div>

    <div class="mainChatInput">
        <div class="mainChatInputSubContainer">
            <textarea placeholder="Nachricht an #{{channels[0].name}}"></textarea>
           <div>
                <div>
                    <img src="../../../assets/img/main-chat/addDefault.svg">
                    <img src="../../../assets/img/main-chat/separatingLine.svg">
                    <img src="../../../assets/img/main-chat/smileDefault.svg">
                    <img src="../../../assets/img/main-chat/tagDefault.svg">
                </div>
                <div>
                    <img src="../../../assets/img/main-chat/sendIconDefault.svg">
                </div>
            </div>
        </div>
    </div>
</div>
