@import "../../../../styles.scss";

.textBoxContainer {
  width: 100%;
  height: 100%;
  border: 1px solid $lightPurple;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  border-radius: 40px;
  padding: 20px;
  position: relative;

  &:hover {
    cursor: text;
    border: 1px solid $purple2;
  }

  &.focused {
    border: 1px solid $purple3;
  }

  ::placeholder {
    color: $textGray;
    opacity: 1;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    overflow-y: scroll;
    resize: none;
    font-size: 18px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .bottomIcons {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .addElements {
      display: flex;
      gap: 5px;

      div {
        background-color: $lightPurple;
        width: 1px;
        height: 100%;
      }

      mat-icon {
        padding: 8px;
        border-radius: 50%;
        color: $textGray;

        &:hover {
          background-color: $bgColor;
          color: $purple3;
          font-variation-settings: "wght" 600;
          cursor: pointer;
        }
      }
    }

    .send {
      mat-icon {
        padding: 8px;
        border-radius: 50%;
        color: $purple1;
        font-variation-settings: "FILL" 1;

        &:hover {
          cursor: pointer;
          color: $purple2;
        }
      }
    }
  }

  .closePicker {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  emoji-mart {
    position: absolute;
    bottom: 130px;
    left: 40px;
    cursor: pointer;
  }
}
