<section>
    <div class="chat-box">
        <div class="thread-head">
            <div class="left-side-head">
                <h3>Thread</h3>
                <img src="/assets/img/tagPurple.png" alt="Purple Hashtag">
                <p>Entwicklerteam</p>
            </div>

            <img class="close-cross" src="/assets/img/closeCross.png" alt="close Cross">
        </div>

        <div class="chat-content"></div>

        <div class="input-content">
            <textarea placeholder="Antworten..." name="second-chat-input" id="second-chat-input" cols="30" rows="10"></textarea>
        </div>
    </div>
</section>