<section>
    <div class="chat-box">
        <div class="thread-head">
            <div class="left-side-head">
                <h3>Thread</h3>
                <img src="/assets/img/tagPurple.svg" alt="Purple Hashtag">
                <p>Entwicklerteam</p>
            </div>

            <button class="close-button"></button>
        </div>


        <div class="chat-content">
            <div class="user-message">
                <img src="/assets/img/userImages/userImage4.svg" alt="">
                <div>
                    <div class="user-time">
                        <p>Noah Bruan</p>
                        <span>{{threadContent.time}} Uhr</span>
                    </div>
                    <div class="thread-message">
                        <span>{{threadContent.message}}</span>
                    </div>
                </div>
            </div>

            <div class="answer-line-container">
                <p>2 Antworten</p>
                <div class="purple-line"></div>
            </div>

            <div class="user-message">
                <img src="/assets/img/userImages/userImage4.svg" alt="">
                <div>
                    <div class="user-time">
                        <p>Noah Bruan</p>
                        <span>{{threadContent.time}} Uhr</span>
                    </div>
                    <div class="thread-message">
                        <span>{{threadContent.message}}</span>
                    </div>
                </div>
            </div>

            <div class="user-message own-message">
                <img src="/assets/img/userImages/userImage4.svg" alt="">
                <div>
                    <div class="user-time">
                        <p>Noah Bruan</p>
                        <span>{{threadContent.time}} Uhr</span>
                    </div>
                    <div class="thread-message">
                        <span>{{threadContent.message}}</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="input-content">
            <textarea placeholder="Antworten..." name="second-chat-input" id="second-chat-input" cols="30"
                rows="10"></textarea>
            <div class="action-icons-container">
                <div class="left-actions">
                    <button class="add-button"></button>
                    <img src="/assets/img/main-chat/separatingLine.svg">
                    <button class="emoji-button"></button>
                    <button class="tag-button"></button>
                </div>
                <button class="send-button"></button>
            </div>
        </div>
    </div>
</section>