<div class="showMembersDialog" (click)="doNotClose($event)">
    <div>
        <div>Mitglieder</div>
        <div (click)="closeDialog()">
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>
    <div class="usersListContainer">
        <div class="usersListSubContainer">
            @for (member of members; track $index) {
                <div class="userContainer" (click)="openProfileCard()">
                    <div class="userSubContainer">
                        <div>
                            <img src="/assets/img/main-chat/member2.svg">
                            <div class="userStatus" [ngStyle]="{'background-color': member.isOnline ? '#92c83e' : '#686868' }"></div>
                        </div>
                        <div>{{member.name}}</div>    
                    </div>
                </div>           
            }
        </div>
    </div>
    <div>
        <div>
            <span class="material-symbols-outlined">person_add</span>
        </div>
        <div (click)="goToAddMemberDialog()">Mitglieder hinzufügen</div>
    </div>
</div>

