$bg-color: #eceefe;

.main-content {
  height: 100%;
  display: flex;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
}

app-main-chat {
  width: 100%;
}

//////////////////////// Secondary Animations ////////////////////////

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.secondary-chat-visible {
  display: block !important;
  animation: slideInFromRight 125ms ease-in-out;
}

.secondary-chat-hidden {
  display: none;
}

//////////////////////// Mobile Responsive //////////////////////// In Work, gerne Helfen bitte.

.hide {
  display: none;
}

.show-main-chat {
  display: block !important;
}

.show-sidebar {
  display: block !important;
}

.show-secondary-chat {
  display: block !important;
}

//////////////////////// @Media Querys ////////////////////////

@media screen and (max-width: 1110px) {
  .main-content {
    margin: 0px 16px;
  }
}

@media screen and (max-width: 500px) {
  .main-content {
    margin: 0px;
    // gap: 0;
  }
}
