$bg-color: #eceefe;

.main-content {
  height: 100%;
  display: flex;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
}

app-main-chat {
  width: 100%;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

app-secondary-chat {
  animation: slideInFromRight 200ms ease-in-out;
  display: none;
}

.dp-unset {
  display: unset;
}

.hide {
  display: none;
}

.show-main-chat {
  display: block !important;
}

.show-sidebar {
  display: block !important;
}

.show-secondary-chat {
  display: block !important;
}

@media screen and (max-width: 1110px) {
  .main-content {
    margin: 0px 16px;
  }
}

@media screen and (max-width: 500px) {
  .main-content {
    margin: 0px;
    // gap: 0;
  }
}
