$bg-color: #eceefe;

.main-content {
  height: 100%;
  display: flex;
  gap: 20px;
  margin: 20px;
  margin-top: 0;
  box-sizing: border-box;
  transition: margin 0.2s ease;
}

app-main-chat {
  width: 100%;
}

//////////////////////// Secondary Animations ////////////////////////

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.secondary-chat-visible {
  display: block !important;
  animation: slideInFromRight 200ms ease-in-out;
}

.secondary-chat-hidden {
  display: none;
}

//////////////////////// @Media Querys ////////////////////////

@media screen and (max-width: 1110px) {
  .main-content {
    margin: 0px 16px;
  }
}

@media screen and (max-width: 500px) {
  .main-content {
    margin: 0px;
    // gap: 0;
  }
}
