<div class="newMessageContainer">
  <div class="head">
    <div class="title">Neue Nachricht</div>
    <input
      #userInput
      type="text"
      placeholder="An: #channel, oder @jemanden oder E-Mail Adresse"
      (keyup)="onInputChange(userInput.value)"
    />
    <div class="userSelection" *ngIf="displayUser || displayChannels">
      <div class="allUser" *ngIf="displayUser">
        <div class="singleUser" *ngFor="let user of filteredUsers">
          <img [src]="user.data.imgUrl" [alt]="'Image of ' + user.data.name" />
          <div class="name">
            {{ user.data.name }}
          </div>
          <span
            *ngIf="
              (this.userManagementService.activeUserId$ | async) === user.id
            "
            >&nbsp;(Du)</span
          >
          <div
            class="onlineStatus"
            [ngClass]="{
              online: user.data.isOnline === true,
              away: user.data.isOnline === false
            }"
          ></div>
        </div>
      </div>

      <div class="allChannel" *ngIf="displayChannels">
        <div class="singleChannel" *ngFor="let channel of channels$ | async">
          #{{ channel.data.name }}
        </div>
      </div>
    </div>
  </div>

  <div class="textBox">
    <app-text-box></app-text-box>
  </div>
</div>
