<div class="channelEdition" (click)="doNotClose($event)">
    <div class="channelEditionHeader">
        <div>
            <div>&#35;</div>
            <div>Entwicklerteam</div>
        </div>

        <div (click)="closeDialog()">
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>

    <!-- ======== Channel Edition Name ======== -->
    <div class="channelEditionName" *ngIf="showchannelEditionName">
        <div>
            <div>Channel-Name</div>
            <div (click)="editChannelName()">Bearbeiten</div>
        </div>
        <div>
            <div>&#35;</div>
            <div>{{channelData[0].name}}</div> 
        </div>
    </div>

    <div class="channelEditionNameEdit" *ngIf="!showchannelEditionName">
        <div>
            <div>Channel-Name</div>
            <div (click)="saveChannelName()">Speichern</div>
        </div>
        <div>
            <div>&#35;</div>
            <input type="text" [(ngModel)]="editedChannelName" placeholder="{{channelData[0].name}}">
        </div>
    </div>
    <!-- ====================================== -->

    <!-- ======== Channel Edition Description ======== -->
    <div class="channelEditionDescription" *ngIf="showchannelEditionDescription">
        <div>
            <div>Beschreibung</div>
            <div (click)="editChannelDescription()">Bearbeiten</div>
        </div>
        <div>{{channelData[0].description}}</div>
        <div></div>
        <div>Erstellt von</div>
        <div>Noah Braun</div>
    </div>

    <div class="channelEditionDescriptionEdit" *ngIf="!showchannelEditionDescription">
        <div>
            <div>Beschreibung</div>
            <div (click)="saveChannelDescription()">Speichern</div>
        </div>
        <div>
            <input type="text" [(ngModel)]="editedChannelDescription" placeholder="Dein Text hier">
        </div>
        <div></div>
        <div>Erstellt von</div>
        <div>Noah Braun</div>
    </div>
    <!-- ====================================== -->

    <div class="channelEditionButtonContainer">
        <button class="channelEditionButton">Channel verlassen</button>
    </div>
</div>

