<div class="channelEdition" (click)="doNotClose($event)">
    <div class="channelEditionHeader">
        <div>
            <div>&#35;</div>
            <div>{{channelData?.name}}</div>
        </div>

        <div (click)="closeDialog()">
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>

    <!-- ======== Channel Edition Name ======== -->
    <div class="channelEditionName" *ngIf="showchannelEditionName">
        <div>
            <div>Channel-Name</div>
            <div (click)="editChannelName()">Bearbeiten</div>
        </div>
        <div>
            <div>&#35;</div>
            <div>{{channelData?.name}}</div> 
        </div>
    </div>

    <div class="channelEditionNameEdit" *ngIf="!showchannelEditionName">
        <div>
            <div>Channel-Name</div>
            <div (click)="saveChannelName()">Speichern</div>
        </div>
        <div>
            <div>&#35;</div>
            <input type="text" [(ngModel)]="editedChannelName" placeholder="{{channelData?.name}}">
        </div>
    </div>
    <!-- ====================================== -->

    <!-- ======== Channel Edition Description ======== -->
    <div class="channelEditionDescription" *ngIf="showchannelEditionDescription">
        <div>
            <div>Beschreibung</div>
            <div (click)="editChannelDescription()">Bearbeiten</div>
        </div>
        <div>{{channelData?.description}}</div>
        <div></div>
        <div>Erstellt von</div>
        <div>{{channelCreatorName}}</div>
    </div>

    <div class="channelEditionDescriptionEdit" *ngIf="!showchannelEditionDescription">
        <div>
            <div>Beschreibung</div>
            <div (click)="saveChannelDescription()">Speichern</div>
        </div>
        <div>
            <input type="text" [(ngModel)]="editedChannelDescription" placeholder="Dein Text hier">
        </div>
        <div></div>
        <div>Erstellt von</div>
        <div>{{channelCreatorName}}</div>
    </div>
    <!-- ====================================== -->

    <div class="channelEditionButtonContainer">
        <button class="channelEditionButton" (click)="openAskLeaveChannel()">Channel verlassen</button>
    </div>


    <!-- ========= POPUP EDIT CHANNEL DATA ========= -->
    <div class="popupEditChannelData" *ngIf="showPopup">
        <div>
            Bearbeitung nicht möglich. Du bist nicht der Administrator dieses Channels.
        </div>
    </div>

    <!-- ========= POPUP LEAVE CHANNEL ========= -->
    <div class="showPopupLeaveChannel" *ngIf="showPopupLeaveChannel" (click)="closePopupLeaveChannel()">
        <div (click)="doNotClose($event)">
            <div>
                Möchtest du den Channel wirklich verlassen?
            </div>
            <div>
                <button class="channelEditionButton" (click)="closePopupLeaveChannel()">Mitglied bleiben</button>
                <button class="channelEditionButton leaveButton" (click)="leaveChannel()">Verlassen</button>
            </div> 

            <!-- ========= POPUP AMIN CAN'T LEAVE CHANNEL ========= -->
            <div class="popupAdmin" *ngIf="showPopupAdmin">
                <div>
                    Du bist der Administrator dieses Channels. Du kannst den Channel nicht verlassen.
                </div>
            </div>   
        </div>
    </div>
    

</div>

