<div class="addMembersDialog" (click)="doNotClose($event)">
    <div>
        <div>Leute hinzufügen</div>
        <div (click)="closeDialog()">
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>
    <div># Entwickler</div>
    <div class="addUserInputContainer" [class.focusedBorder]="inputFocus">
      <div class="addUserInputSubContainer">
        <div class="chipContainer">
          @for (userToAdd of newUsersToAdd; track $index) {
            <div class="newUserToAdd">
              <img src="/assets/img/main-chat/member3.svg">
              <div>{{userToAdd.name}} {{userToAdd.surname}}</div>
              <span (click)="removeaddedUser()" class="material-symbols-outlined">close</span>
            </div>
          }
        </div>
        <input class="userSearchInput" type="text" autocomplete="off" name="search" (ngModelChange)="searchKey($event)" [(ngModel)]="searchText" placeholder="Name eingeben" (focus)="showUserList()">
      </div>
      <div class="userList" *ngIf="inputFocus">
        <div class="userSubList">
          @for (user of filteredUserList; track $index) {
            <div (click)="addUser()"  (click)="addUser()">
              <img src="/assets/img/main-chat/member2.svg">
              <div>{{user.name}} {{user.surname}}</div>
            </div>
          }


<!--             <div (click)="addUser()">
              <img src="/assets/img/main-chat/member2.svg">
              <div>Elise Roth</div>
            </div>
            <div (click)="addUser()">
              <img src="/assets/img/main-chat/member2.svg">
              <div>Elise Roth</div>
            </div>
 -->       </div>
      </div>



<!--         <form>
            <mat-form-field class="example-chip-list">
              <mat-chip-grid #chipGrid aria-label="Fruit selection">
                @for (fruit of fruits; track fruit) {
                  <mat-chip-row (removed)="remove(fruit)">
                    {{fruit}}
                    <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                        <span class="material-symbols-outlined">cancel</span>                                
                    </button>
                  </mat-chip-row>
                }
              </mat-chip-grid>
              <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
                [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"/>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                @for (fruit of filteredFruits | async; track fruit) {
                  <mat-option [value]="fruit">{{fruit}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form> -->

    </div>
    <div>
        <button (click)="addUsers()" >Hinzufügen</button>
    </div>
</div>
