
@import "../../../../styles.scss";

* {
    box-sizing: border-box;
}

.mat-mdc-form-field-infix {
    background-color: white!important;
}


.addMembersDialog {
    border-radius: 30px 0 30px 30px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 10;

    > div {
        width: 100%;
    }

    > div:first-of-type {
        font-weight: bold;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div:last-of-type {
            height: 40px;
            width: 40px;    
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                background-color: $bgColor;
            }

            &:hover span {
                color: $purple3;
            }
    
            > span {
                font-size: 24px;
            }
        }
    }

    > div:nth-of-type(2) {
        font-size: 18px;
        color: rgba(121, 126, 243, 1);
    }


/*     > div:nth-of-type(3) > input, */    
    > div:nth-of-type(3) > mat-form-field {
        border: 1px solid rgba(173, 176, 217, 1);
        outline: none;
        border-radius: 30px;
        padding: 15px 20px 15px 20px;
        font-size: 18px;
        width: 100%;

        &:focus {
            border: 1px solid $purple3;
        }
    }

    > div:last-of-type {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > button {
            background-color: rgba(104, 104, 104, 1);
            padding: 12px 25px 12px 25px;
            border: none;
            border-radius: 25px;
            font-size: 18px;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }
    } 
}

.cdk-overlay-pane{
    border-radius: 0 30px 30px 30px!important;
}
