<div class="header">
    <img src="assets/img/logo2.png" alt="">
    <div class="input-container">
        <input type="text" placeholder="Code learning durchsuchen">
        <img src="assets/img/search.png" alt="">
    </div>
    <div (click)="toggleDropdownMenu(!showDropdownMenu)" class="header-profil">
        <h2>{{serviceProfilCard.userNameandSurname}}</h2>
        <img class="header-profile-photo" src={{serviceProfilCard.profilePic}}>
        <mat-icon class="material-symbols-outlined" fontIcon="expand_more"></mat-icon>

        <div [class.active]="showDropdownMenu" class="custom-dropdown-menu">
            <div (click)="serviceProfilCard.toggleProfilCard(true, true)">Profil</div>
            <div (click)="signOut()">Log out</div>
        </div>
    </div>
</div>

<!-- <div class="overlay" [class.active]="isOverlayActive" (click)="toggleOverlay(false)"></div> -->

<!-- <app-profil-card class="userProfilRight" *ngIf="showProfil"></app-profil-card> -->