<div class="header">
    <img src="assets/img/logo2.png" alt="">
    <div class="input-container">
        <input type="text" placeholder="Code learning durchsuchen">
        <img src="assets/img/search.png" alt="">
    </div>
    <div (click)="toggleDropdownMenu(true)" class="header-profil">
        <h2>{{userNameandSurname}}</h2>
        <img src= {{profilePic}}>
        <img class="arrowDownDefault" src="assets/img/keyboard_arrow_down.png" alt="">

        <div [class.active]="showDropdownMenu" *ngIf="!showProfil" class="custom-dropdown-menu">
            <div (click)="openProfil(true)">Profil</div>
            <div (click)="signOut()">Log out</div>
        </div>
    </div>
</div>

<div class="overlay" [class.active]="isOverlayActive" (click)="toggleOverlay(false)"></div>

<app-profil-card class="userProfilRight" *ngIf="showProfil"></app-profil-card>