<!-- ========================= Template Own Message - EDIT ========================= -->
<div class="messageContainerOwnEdit" (click)="message.focus()">
    <div class="mainMessageOwnEdit">
        <textarea #message name="message" [(ngModel)]="textAreaEditMessage" (focus)="onInputFocus()" (blur)="onInputBlur()"></textarea>
        <div *ngIf="thread?.imageUrl" class="imgMessage">
        <div class="deleteUpload">
            <mat-icon (click)="deleteDocument(thread?.imageUrl)" class="material-symbols-rounded" fontIcon="close"></mat-icon>
          </div>
            <img [src]="thread?.imageUrl" alt="Image uploaded by {{ thread?.createdBy }}"/>
        </div>

        <div class="messageOwnEditBottom">
            <div (click)="toggleEmojiPicker()">
                <span class="material-symbols-outlined">sentiment_satisfied</span>
            </div>
            <div>
                <button (click)="closeEditedMessage()">Abbrechen</button>
                <button (click)="saveEditedMessage()">Speichern</button>
            </div>
        </div>
    </div>
    <div class="messageProfileIcon">
        <img [src]="thread?.imgUrl">
    </div>
    <emoji-mart #emojiMart *ngIf="showEmojiPicker" [darkMode]="false" (emojiSelect)="handleClick($event)" title="Pick your emoji…" emoji="point_up" (click)="doNotClose($event)">
    </emoji-mart>
    <div class="backgroundReactionEmojiContainer" *ngIf="showEmojiPicker" (click)="toggleEmojiPicker()"></div>
</div>