<!-- ========================= Template Own Message - EDIT ========================= -->
<div class="messageContainerOwnEdit">
    <div class="mainMessageOwnEdit">
        <textarea name="textAreaEditMessage" [(ngModel)]="textAreaEditMessage"></textarea>
        <div>
            <div>
                <span class="material-symbols-outlined">sentiment_satisfied</span>
            </div>
            <div>
                <button (click)="closeEditedMessage()">Abbrechen</button>
                <button (click)="saveEditedMessage()">Speichern</button>
            </div>
        </div>
    </div>
    <div class="messageProfileIcon">
        <img src="/assets/img/main-chat/member1.svg">
    </div>
</div>