<div (click)="openMoreEmojis()">
    <span class="material-symbols-outlined">add_reaction</span>
</div>

<div *ngFor="let reaction of reactions" class="reactionContainer">
    <div class="ractionEmoji">
        <span [innerHTML]="reaction.emoji"></span>
    </div>
    <div class="ractionCount">
        <div>1</div>
    </div>
    <div class="reactionHoverBubble">
        <div></div>
        <div>Sofia Müller</div>
        <div>hat reagiert</div>
    </div>
</div>

<app-reaction-emoji-input *ngIf="showMoreEmojis" [showMoreEmojis]="showMoreEmojis" (showMoreEmojisChild)="closeMoreEmojis(showMoreEmojis)"
[reactionCollectionPath]="reactionCollectionPath" [currentUser]="currentUser"></app-reaction-emoji-input>

