@if(currentUser !== thread.userId){
    @if(reactions.length !== 0) {
        <div class="mainThreadReactions">
            <div (click)="openMoreEmojis()">
                <span class="material-symbols-outlined">add_reaction</span>
            </div>
            @for (reaction of reactions | slice:0:3; track $index) {
                <div class="reactionContainer">
                    <div class="ractionEmoji">
                        <span>{{reaction?.reaction}}</span>
                    </div>
                    <div class="ractionCount">
                        <div>{{reaction.count}}</div>
                    </div>
                    <div class="reactionHoverBubble">
                        <div class="ractionEmoji">
                            <span>{{reaction?.reaction}}</span>
                        </div>                        
                        <div>{{reaction?.reactedByName}}</div>
                        <div>hat reagiert</div>
                    </div>
                </div>    
            }

            <div *ngIf="reactions?.length > 3" class="reactionContainer">
                <div class="ractionEmoji">
                    <span>+</span>
                </div>
                <div class="ractionCount">
                    <div>{{reactions?.length - 3}}</div>
                </div>
            </div>

            <app-reaction-emoji-input *ngIf="showMoreEmojis" [showMoreEmojis]="showMoreEmojis" (showMoreEmojisChild)="closeMoreEmojis(showMoreEmojis)"
            [reactionCollectionPath]="reactionCollectionPath" [currentUser]="currentUser" [reactions]="reactions" [threadId]="thread?.threadId"></app-reaction-emoji-input>
        </div>
    }
 } @else {
    @if(reactions.length !== 0) {
        <div class="mainThreadReactionsOwn">
            <div (click)="openMoreEmojis()">
                <span class="material-symbols-outlined">add_reaction</span>
            </div>
            @for (reaction of reactions | slice:0:3; track $index) {
                <div class="reactionContainer">
                    <div class="ractionEmoji">
                        <span>{{reaction?.reaction}}</span>
                    </div>
                    <div class="ractionCount">
                        <div>{{reaction?.count}}</div>
                    </div>
                    <div class="reactionHoverBubble">
                        <div class="ractionEmoji">
                            <span>{{reaction?.reaction}}</span>
                        </div>
                        <div>{{reaction?.reactedByName}}</div>
                        <div>hat reagiert</div>
                    </div>
                </div>  
            }
    
            <div *ngIf="reactions?.length > 3" class="reactionContainer">
                <div class="ractionEmoji">
                    <span>+</span>
                </div>
                <div class="ractionCount">
                    <div>{{reactions?.length - 3}}</div>
                </div>
            </div>
            <app-reaction-emoji-input *ngIf="showMoreEmojis" [showMoreEmojis]="showMoreEmojis" (showMoreEmojisChild)="closeMoreEmojis(showMoreEmojis)"
            [reactionCollectionPath]="reactionCollectionPath" [currentUser]="currentUser" [reactions]="reactions" [threadId]="thread?.threadId"></app-reaction-emoji-input>
        </div>
    }
}


