<div class="dialogAddUserContainer" (click)="toggle()">
  <form
    class="dialogAddUserContent"
    (click)="stopPropagation($event)"
    (ngSubmit)="addUser()"
    #form="ngForm"
  >
    <div class="titleAndIcon">
      <div class="title">Leute hinzufügen</div>
      <div class="icon">
        <mat-icon
          class="material-symbols-rounded"
          fontIcon="close"
          (click)="toggle()"
        ></mat-icon>
      </div>
    </div>
    <div class="userSelection">
      <div>
        <input
          type="radio"
          id="allMembers"
          name="userSelection"
          value="allMembers"
          [(ngModel)]="userSelection"
          checked
        />
        <label for="allMembers">
          Alle Mitglieder von
          <p class="highlight">&nbsp;OfficeTeam&nbsp;</p>
          hinzufügen
        </label>
      </div>
      <div>
        <input
          type="radio"
          id="specificPeople"
          name="userSelection"
          value="specificPeople"
          [(ngModel)]="userSelection"
        />
        <label for="specificPeople">Bestimmte Leute hinzufügen</label>
      </div>
    </div>

    <input
      *ngIf="userSelection === 'specificPeople'"
      class="addedUser"
      type="text"
      placeholder="Name eingeben"
      [(ngModel)]="userInput"
      (input)="filterUsers()"
      name="userInput"
    />

    <div *ngIf="filteredUsers.length > 0" class="userSuggestions">
      <div *ngFor="let user of filteredUsers" (click)="addSelectedUser(user)">
        {{ user.name }}
      </div>
    </div>

    <div class="selectedUsers">
      <div *ngFor="let user of selectedUsers">
        {{ user.name }}
        <span class="removeUser" (click)="removeUser(user)">×</span>
      </div>
    </div>


    <button class="btnPrimary" type="submit" [disabled]="shouldDisableSubmit()">
      Erstellen
    </button>
  </form>
</div>
