@import "fonts.scss";


* {
  font-family: "Nunito", sans-serif;
}

$purple1: #444df2;
$purple2: #797ef3;
$purple3: #535af1;
$lightPurple: #adb0d9;
$bgColor: #eceefe;

$onlineGreen: #92c83e;
$awayYellow: #eadf3d;
$errorRosa: #ed1e79;
$textGray: #686868;

body {
  margin: 0;
  background-color: $bgColor;
  box-sizing: border-box;
}

.btnPrimary {
  padding: 12px 25px;
  border-radius: 25px;
  background-color: $purple1;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border: unset;
  width: fit-content;
  box-sizing: border-box;
  transition: 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $purple2;
  }

  &:active {
    background-color: $purple1;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $textGray;
  }
}

//Scrollbar

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $purple2;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $purple2 transparent;
}

emoji-mart {
  /* Targeting the anchor bar background color */
  .emoji-mart-anchor-bar {
    background-color: $purple2 !important;
  }

  /* Optional: If you also want to change the anchor text color to ensure it contrasts well */
  .emoji-mart-anchor-selected {
    color: $purple2 !important; /* Example: setting text color to white for better contrast */
  }
}
