@import "fonts.scss";

* {
  font-family: "Nunito", sans-serif;
}

$purple1: #444df2;
$purple2: #797ef3;
$purple3: #535af1;
$lightPurple: #adb0d9;
$bgColor: #eceefe;

$onlineGreen: #92c83e;
$awayYellow: #eadf3d;
$errorRosa: #ed1e79;
$textGray: #686868;

body {
  margin: 0;
  background-color: $bgColor;
  box-sizing: border-box;
}
